body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: red;
}
.impostor {
  position: relative;
}

.eyeb1{
	position: absolute;
	width: 90px;
	height: 50px;
	background-color:#0CA7A0;
	border-radius: 40%;
	border:5px solid black;
	margin-left: 75px;
	margin-top: -220px;
	overflow: hidden;
	z-index: 99;
  }
.eyeb2{
	position: absolute;
	width: 90px;
	height: 50px;
	background-color: #52E9E2;
	border-radius: 40%;
	float: right;
	margin-left: 15px;
	margin-top: -10px; 
	
}

.eye{
	
	position: absolute;
	width: 30px;
	height: 20px;
	background: white;
	border-radius: 40%;
	float: right;
	margin-left: 50px;
	margin-top: 10px;
	
}
.body{

	position: relative;
	width: 150px;
	height: 250px;
	background-color:#ba2323;
	border-radius: 200px;
	border:6px solid black;
	overflow: hidden;
	margin-right: 201px;
	z-index: 70;
}
.bodyshadow{
	position: relative;
	width: 150px;
	height: 250px;
	background-color:red;
	border-radius: 200px;
	overflow: hidden;
	margin-left: 15px;
	margin-top: -75px;
}
.leg::before{
	content: '';
	position: absolute;
	width: 50px;
	height: 120px;
	background-color:#ba2323;
	border-radius: 20px;
	margin-left: 0px;
	margin-top: -90px;
	border:6px solid black;
	z-index: ;
}
.leg::after{
	content: '';
	position: absolute;
	width: 50px;
	height: 120px;
	background-color:#ba2323;
	border-radius: 20px;
	margin-left: 100px;
	margin-top: -90px;
	border:6px solid black;
	z-index: ;
}
.bag{
	
	position: absolute;
	width: 56px;
	height: 150px;
	background-color:red;
	border-radius: 100px;
	margin-left: -35px;
	margin-top: -190px;
	border:5px solid black;
	border-right: none;
	z-index: 2;
	overflow: hidden;
}
.bagshadow{
	position: absolute;
	width: 56px;
	height: 150px;
	background-color:#ba2323;
	border-radius: 80px;
	margin-left: 15px;
	margin-top: 15px;
	border-right: none;		

}